flows.json
[
    {
        "id": "4ce4287fc13e55d9",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c552e1d587f9f2b9",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "742ee0d3b96aefb3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb9496ad90183a1d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7003ee89608c7582",
        "type": "ui_group",
        "name": "Status do sistema",
        "tab": "742ee0d3b96aefb3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "da96b1fee7dceed8",
        "type": "inject",
        "z": "4ce4287fc13e55d9",
        "name": "Simular: Sensor PIR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensorType\":\"Movimento PIR\",\"pin\":27,\"event\":\"MOVIMENTO DETECTADO\",\"timestamp\":1678886410000}",
        "payloadType": "json",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "02cbecf074626855",
                "0cb2112ab817c512",
                "07f82f66b9fffe87"
            ]
        ]
    },
    {
        "id": "6359d4dcb2206ee8",
        "type": "inject",
        "z": "4ce4287fc13e55d9",
        "name": "Simular: Alerta de Fumaça",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensorType\":\"Fumaca MQ-7\",\"pin\":32,\"event\":\"ALERTA DE FUMACA\",\"value\":2550,\"timestamp\":1678886420000}",
        "payloadType": "json",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "02cbecf074626855",
                "1d91ec8d8659c413",
                "0cb2112ab817c512",
                "07f82f66b9fffe87"
            ]
        ]
    },
    {
        "id": "60a907016068c8f8",
        "type": "inject",
        "z": "4ce4287fc13e55d9",
        "name": "Simular: Sensor de vibração",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensorType\":\"Sensor Vibracao\",\"pin\":33,\"event\":\"VIBRACAO DETECTADA\",\"timestamp\":1678886400000}",
        "payloadType": "json",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "02cbecf074626855",
                "0cb2112ab817c512",
                "07f82f66b9fffe87"
            ]
        ]
    },
    {
        "id": "29513cb799e36905",
        "type": "inject",
        "z": "4ce4287fc13e55d9",
        "name": "Simular: Porta da Frente Aberta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sensorType\":\"Porta Magnetico\",\"pin\":13,\"event\":\"PORTA ABERTA\",\"timestamp\":1678886400000}",
        "payloadType": "json",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "748f8e6341c22de3",
                "02cbecf074626855",
                "0cb2112ab817c512",
                "07f82f66b9fffe87"
            ]
        ]
    },
    {
        "id": "748f8e6341c22de3",
        "type": "debug",
        "z": "4ce4287fc13e55d9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "02cbecf074626855",
        "type": "ui_text",
        "z": "4ce4287fc13e55d9",
        "group": "7003ee89608c7582",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo Evento",
        "format": "{{msg.payload.event}} (Sensor: {{msg.payload.sensorType}} no pino {{msg.payload.pin}})",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d91ec8d8659c413",
        "type": "ui_gauge",
        "z": "4ce4287fc13e55d9",
        "name": "",
        "group": "7003ee89608c7582",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de CO",
        "label": "units",
        "format": "{{msg.payload.value}}",
        "min": 0,
        "max": "495",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "0cb2112ab817c512",
        "type": "switch",
        "z": "4ce4287fc13e55d9",
        "name": "switch",
        "property": "msg.payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ALERTA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "1ddf91d9805747f4"
            ]
        ]
    },
    {
        "id": "1ddf91d9805747f4",
        "type": "ui_toast",
        "z": "4ce4287fc13e55d9",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "{{msg.payload.event}}",
        "topic": "{{msg.payload.event}}",
        "name": "",
        "x": 870,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "07f82f66b9fffe87",
        "type": "switch",
        "z": "4ce4287fc13e55d9",
        "name": "switch",
        "property": "msg.payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ABERTA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "1ddf91d9805747f4"
            ]
        ]
    },
    {
        "id": "e37b9458cdb3e9a1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]